<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.CommodityUnit.dao.CommodityUnitDao">
    <resultMap id="CommodityUnitVO" type="com.neusoft.entity.commodityCenter.CommodityUnitVO">
        <result column="unit_id" property="unitId"></result>
        <result column="unit_name" property="unitName"></result>
    </resultMap>

    <!--查询商品单位（分页）-->
    <select id="getCommodityUnitListPage" parameterType="com.neusoft.entity.commodityCenter.CommodityUnitVO" resultMap="CommodityUnitVO">
      select
          unit_id,
          unit_name
      from t_commodity_unit
      <where>
          <if test="unitName != null and unitName != ''">
              unit_name like concat('%', concat(#{unitName}, '%'))
          </if>
      </where>
  </select>

    <!--新增商品单位-->
    <insert id="addCommodityUnit" parameterType="com.neusoft.entity.commodityCenter.CommodityUnit">
      insert into t_commodity_unit
           (unit_id,
            unit_name,

            created_by,
            gmt_create,
            last_modified_by,
            gmt_modified,
            is_deleted,
            sort_no,
            version

          ) values (
            #{unitId,jdbcType=INTEGER},
            #{unitName,jdbcType=VARCHAR},

            #{createdBy},
            NOW(),
            #{lastModifiedBy},
            NOW(),
            0,
            0,
            0
          )
    </insert>

    <!--商品单位修改-->
    <update id="updateCommodityUnit" parameterType="com.neusoft.entity.commodityCenter.CommodityUnit">
        update t_commodity_unit
           set
               unit_id = #{unitId,jdbcType=INTEGER},
               unit_name = #{unitName,jdbcType=VARCHAR}
               sort_no        = #{sortNo,jdbcType=NUMERIC},
               version        = version + 1,
               gmt_modified   = now(),
               last_modified_by   = #{lastModifiedBy,jdbcType=VARCHAR}
            where
              unit_id = #{unitId}

    </update>

    <!--删除商品-->
    <update id="deleteCommodityUnit" parameterType="com.neusoft.entity.commodityCenter.CommodityUnit">
        update t_commodity_unit
           set is_deleted     = 1,
               version      = version + 1,
               gmt_modified = now(),
               last_modified_by   = #{lastModifiedBy,jdbcType=VARCHAR}
         where unit_id= #{unitId}
    </update>

</mapper>