<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.receive.dao.ReceiveDao">
    <!--根据客户ID获取收获地址列表-->
    <select id="getReceiveList" parameterType="java.lang.String" resultType="com.neusoft.entity.receive.Receive">
        select
            receive_id,
            receive_contact,
            receive_detailed_address,
            region_province,
            region_city,
            region_county,
            receive_tel,
            receive_is_default,
            version
        from t_receive
        where created_by = #{customerId}
        and is_deleted = 0
    </select>

    <!--新增收货地址-->
    <insert id="addReceive" parameterType="com.neusoft.entity.receive.Receive">
        insert into t_receive
           (receive_id ,
            region_province ,
            region_city,
            region_county ,
            receive_detailed_address ,
            receive_contact,
            receive_tel,
            receive_is_default,

            is_deleted,
            sort_no,
            gmt_create,
            created_by,
            gmt_modified,
            last_modified_by,
            version
          ) values (
            #{receiveId,jdbcType=VARCHAR},
            #{regionProvince,jdbcType=VARCHAR},
            #{regionCity,jdbcType=VARCHAR},
            #{regionCounty,jdbcType=VARCHAR},
            #{receiveDetailedAddress,jdbcType=NUMERIC},
            #{receiveContact,jdbcType=VARCHAR},
            #{receiveTel,jdbcType=VARCHAR},
            0,

            0,
            #{sortNo,jdbcType=VARCHAR},
            now(),
            #{createdBy,jdbcType=VARCHAR},
            now(),
            #{lastModifiedBy,jdbcType=VARCHAR},
            0)
    </insert>

    <!--修改收货地址信息-->
    <update id="updateReceive" parameterType="com.neusoft.entity.receive.Receive">
        update t_receive
           set region_county      = #{regionCounty,jdbcType=VARCHAR},
               region_province       = #{regionProvince,jdbcType=VARCHAR},
               region_city        = #{regionCity,jdbcType=NUMERIC},
               receive_detailed_address  = #{receiveDetailedAddress,jdbcType=VARCHAR},
               receive_tel  = #{receiveTel,jdbcType=VARCHAR},
               receive_contact  = #{receiveContact,jdbcType=VARCHAR},

               version        = version + 1,
               gmt_modified   = now(),
               last_modified_by   = #{lastModifiedBy,jdbcType=VARCHAR}
         where receive_id = #{receiveId}

    </update>

    <!--删除收货地址-->
    <update id="deleteReceive" parameterType="com.neusoft.entity.receive.Receive">
        update t_receive
           set is_deleted     = 1,
               version      = version + 1,
               gmt_modified = now(),
               last_modified_by   = #{lastModifiedBy,jdbcType=VARCHAR}
         where receive_id = #{receiveId}

    </update>

    <!--设为默认地址-->
    <update id="updateReceiveByDefault" parameterType="com.neusoft.entity.receive.Receive">
        update t_receive
           set receive_is_default   = 1,
               sort_no        = #{sortNo,jdbcType=NUMERIC},
               version        = version + 1,
               gmt_modified   = now(),
               last_modified_by   = #{lastModifiedBy,jdbcType=VARCHAR}
         where receive_id = #{receiveId}
    </update>

    <!-- 查询省市区-->
    <select id="getRegion" parameterType="com.neusoft.entity.receive.Region" resultType="com.neusoft.entity.receive.Region">
         select
            region_id,
            region_type,
            region_name

        from t_region
        where parent_region_id = #{parentRegionId}
        and is_deleted = 0
    </select>

</mapper>